<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Amruth Niranjan</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">YouTube Video Script Writing Tool</h1>

      <p>
        This tool will allow you to generate viral YouTube 
        video titles, a professional script, an introduction, and an outro,
        fully functioning using OpenAI. 
      </p>
      <!-- <br /> -->
      <p>By Amruth Niranjan, using the OpenAI API.</p>
      <br />
      <br />

      <div class="row">
        <div class="col-lg-6">
          <form class="" action="/" method="post">
            <div class="mb-3">
              <label for="videoTitle" class="form-label"
                >What topic would you like to generate viral YouTube titles for?</label
              >
              <input
                type="text"
                class="form-control"
                id="videoTitle"
                name="videoTitle"
                placeholder="Enter a topic"
              />
            </div>
            <input type="hidden" name="form1" value="form1" />

            <button type="submit" id="videoTitleButton" class="btn btn-primary">
              Generate Video Titles
            </button>
          </form>
        </div>

        <div class="col-lg-6">1. {{videoTitleIdeas|safe}}</div>
      </div>

      <br />
      <hr />
      <br />

      <div class="row">
        <div class="col-lg-6">
          <form class="" action="/" method="post">
            <div class="mb-3">
              <label for="videoScript" class="form-label"
                >Enter the video title below that you have selected to write a script about:</label
              >
              <input
                type="text"
                class="form-control"
                id="videoScript"
                name="videoScript"
                placeholder="Enter the video title to generate a script on"
              />
            </div>
            <input type="hidden" name="form2" value="form2" />

            <button type="submit" class="btn btn-primary">
              Generate Video Script
            </button>
          </form>
        </div>

        <div class="col-lg-6">{{videoScript|safe}}</div>
      </div>

      <br />
      <hr />
      <br />

      <!-- <div class="row">
        <div class="col-lg-6">
          <form class="" action="/" method="post">
            <div class="mb-3">
              <label for="videoScript" class="form-label"
                >Enter the Blog section title you want to expand</label
              >
              <input
                type="text"
                class="form-control"
                id="videoScript"
                name="videoScript"
                placeholder="Paste in the script here"
              />
            </div>
            <input type="hidden" name="form3" value="form3" />

            <button type="submit" class="btn btn-primary">
              Expand on the script
            </button>
          </form>
        </div>

        <div class="col-lg-6">{{videoScript|safe}}</div>
      </div> -->
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>